html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
    background-color: rgba(85, 169, 230, 1);
}


.item-info {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    font-size: 22px;
    background-color: white;
}

.item-info h2 {
    margin-top: 0;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.price {
    font-size: 24px;
    color: #4CAF50;
}

.buttons {
    margin-top: 20px;
}
.buttons a {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

.buttons a:hover {
    opacity: 0.8;
}
.buttons a.btn {
    display: inline-block;
    vertical-align: top;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.buttons button:hover {
    opacity: 0.8;
}

.report-btn {
    background-color: #f44336;
    color: white;
}
.update-btn{
    background-color: #000;
    color: white;
}
.deactivate-btn{
    background-color: rgb(255, 81, 0);
    color: white;
}
.interested-btn {
    background-color: #2196F3;
    color: white;
}

.like-btn {
    background-color: #4CAF50;
    color: white;
}

form {
    display: inline-block;
}

.nav-item a {
    padding: 8px 16px;

    color: #000;
    text-decoration: none;
    display: block;
}

.nav-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav-item a.active {
    background-color: #4CAF50;
    color: white;


}

#navhead {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

}

.side-bar {
    position: absolute;
    top: 280px;
    left: 0;
    width: 200px;
    bottom: 50px;
    background-color: #f1f1f1;
}

#margintest {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#navcustom {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

#listingstable {
    margin-left: 98px;
    margin-right: 10%;
}


footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #4CAF50;

}

#searchcenter{
    margin: 0;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.my-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-left: 150px;
    width: calc(100% - 150px);
  }
  .my-item {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .my-item-info {
    flex: 1;
    margin-right: 10px;
  }
  .my-item h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  .my-item p {
    color: #777;
    margin-bottom: 5px;
  }
  .my-item button {
    width: 120px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .my-item button:hover {
    background-color: #3e8e41;
  }
  a#itemlink:link, a#itemlink:visited {
    color: white;
    text-decoration: none;
}

#search-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

#search-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-group {
    width: 100%;
    display: flex;
    justify-content: center;
}
#input_me {
    padding-top: 10px;
}

#name {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#search-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#search-button:hover {
    background-color: #45a049;
}


#profilegreeting{
    font-size: 32px;

}

#comment-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(168, 162, 162);
}

#comment-form {
    width: 100%;
}

#update-comment-form {
    width: 100%;
}

#comment-label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

#comment {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #45a049;
}


#comment-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(168, 162, 162);
    margin-bottom: 20px;
}

#username {
    font-weight: bold;
}

#delete-button,
#update-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#delete-button:hover,
#update-button:hover {
    background-color: #45a049;
}

#new-comment-label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

#new_comment {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#get-comments-form,
#comment-content {
    background-color: white;
    padding: 10px;
    width: 100%;
    
}
#get-comments-form{
    margin-bottom: 20px;
    border-radius: 10px;

}

.btn-danger {
    margin-right: 20px;
  }
