<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body style="background-color: rgba(85, 169, 230, 1);">
  {% block content %} {% endblock %}

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mx-3">
      <a style="font-weight: 700;" class="navbar-brand mx-3" href="/">Gregslist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href=" ">Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_account">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">New User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign_in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/update_account">Update Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_listing">Create Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact_us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log_out">Log Out</a>
          </li>
          
          

  <!-- DELETE, ONLY TO TEST PATH FUNCTIONALITY UNTIL SIGN IN FUNCTIONS ARE DEVELOPED-->
          <li class="nav-item">
            <a class="nav-link" href="/my_account_invalid">My Account INVALID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report_post">Report post INVALID</a>
          </li>
  <!-- DONT FORGET TO DELETE-->        

        </ul>
      </div>
  </nav>

  <div class="container pt-4">
    {% block body %}{% endblock %}
    <p class="text-center text-light text-dark mt-5">&copy; 2023 gregslist All Rights Reserved</p>
    
    <p class="text-center text-light text-dark mt-3" id="contact_link"></p>
    

  </div>
</body>
<script>
      if(!(window.location.toString().includes('contact_us'))){
        document.getElementById("contact_link").innerHTML = "<a href='/contact_us'>Click here to contact us!</a>";
      }
      else{
        document.getElementById("contact_link").style.display = "none";
      }
</script>
</html>