{% extends '_layout.html' %}

{% block title %}
    Contact us page
{% endblock %}

{% block content %}
    <h1 style="font-size: 60px;">Contact Us</h1> 
{% endblock %}

{% block body %}
    <h1>Reach Out</h1>
    <form method="post" action='/contact_us_email'>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name ="name" placeholder="Name">
      </div>
      
      <div class="form-group">
        <label for="reason">Email:</label>
        <textarea class="form-control" id="reason" name="email" placeholder="email@domain.com" rows="5"></textarea>
      </div>
      
      <div class="form-group">
        <label for="reason">Reason for reporting:</label>
        <textarea class="form-control" id="reason" name="reason" placeholder="Reason" rows="5"></textarea>
      </div>
  
        <button type="submit" class="btn btn-primary" id="button">Submit</button>
    </form>
    <p1>
      We can also be reached at: <br>
      9201 University City Blvd, Charlotte, NC 28223 <br>
      Wooward Hall, building code 0056 <br>
      Or directly at <br>
      gregslist.customer.service@gmail.com <br>
    </p1>
{% endblock %}