{% extends '_layout.html' %}

{% block title %}
Home page
{% endblock %}

{% block content %}
  <div class="mt-2 mb-4  mx-3">
      <h1 style="font-size: 60px;">Favorites Page</h1>
  </div>
{% endblock %}

{% block body %}
<div style="text-align: center;">
  <h1 style="padding-bottom: 20px;">Favorites List!</h1>
</div>
  {% if favorites %}
        {% for favorite in favorites %}
        <div class="my-item-container">
          <div class="my-item">
              <div class="my-item-info">
                {% set item_id = favorite.item_id %}
                {% for item in items %}
                {% if item.item_id == item_id %}
                  <p>Item Name: {{ item.item_name }}</p>
                {% endif %}
                {% endfor %}

                {% set item_id = favorite.item_id %}
                {% for item in items %}
                {% if item.item_id == item_id %}
                  <p>Seller's Username: {{ item.username }}</p>
                {% endif %}
                {% endfor %}
              </div>
              <form action="{{ url_for('fav_list_delete_fav', item_id=favorite.item_id) }}" method="POST">
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
              <button><a id="itemlink" href="/items/{{ favorite.item_id }}">More Info</a></button>
              
          </div>
      </div>
      <br>
        {% endfor %}
  {% else %}
    <p>Your favorites list is empty.</p>
    <p>Add some favorites!</p>
  {% endif %}
{% endblock %}