{% extends '_layout.html' %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">Gregslist</h1>
{% endblock %}

{% block body %}
<h1 id="margintest">Listing page</h1>
<div class="side-bar"></div>
<div class="row">
    <nav>

        <div>
            <ul id="navhead">

                <li class="nav-item">
                    <a class="nav-link" href="/listings/tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/auto">Auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/fashion">Fashion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/electronics">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/toys">Toys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/beauty">Beauty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/hygiene">Hygiene</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/household">Household</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings/misc">Misc</a>
                </li>
            </ul>
        </div>
    </nav>

    


    {% if items|length != 0 %}

    {% for item in items %}
    <div class="my-item-container" style="margin-bottom: 20px;">
        <div class="my-item">
            <div class="my-item-info">
                <h2>{{ item.item_name }}</h2>
                <p>Price: ${{ "%.2f" | format(item.price) }}</p>
                <p>Condition: {{ item.condition }}</p>
            </div>
            <button><a id="itemlink" href="/items/{{ item.item_id }}">More Info</a></button>
        </div>
    </div>
    {% endfor %}

    {% endif %}
</div>




{% endblock %}