{% extends '_layout.html' %}

{% block title %}
    My Account Page
{% endblock %}

{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">My Account</h1>
{% endblock %}

{% block body %}     
    <div class="bg-light w-50 mx-auto p-3 mt-3 mb-5">
        <h1 class="text-center fw-bold pb-3">Good {{time_of_day}} {{user["first_name"]}}!</h1>

        <h2 class="text-center fw-bold ">First Name:</h2>
        <h3 class="text-center fw-bold">{{user["first_name"]}}</h3>

        <h2 class="text-center fw-bold">Last Name:</h2>
        <h3 class="text-center fw-bold">{{user["last_name"]}}</h3>

        <h2 class="text-center fw-bold">Username:</h2>
        <h3 class="text-center fw-bold">{{user["username"]}}</h3>
  
        <h2 class="text-center fw-bold">Email:</h2>
        <h3 class="text-center fw-bold pb-5">{{user["email"]}}</h3>
        
        <a href="/update_account" class="btn btn-warning mb-3" role="button">Update Account</a>
        <br>
        <a href="/deactivate_account" class="btn btn-danger" role="button">Deactivate Account</a> <!--https://www.w3schools.com/bootstrap/bootstrap_buttons.asp how to utilize href with a button -->
    </div>
    {% endblock %}