{% extends '_layout.html' %}

{% block title %}
    My Account Invalid Page
{% endblock %}

{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">My Account</h1> 
{% endblock %}

{% block body %}
<div style="padding-top: 1rem; padding-bottom: 1rem; font-size: 20px; font-weight: 700;">
    <p1>
        Please login with your existing credentials to view your data <br>
        OR <br>
        Create an account if you are a new user <br>
    </p1>
</div>
    <h1>Sign In</h1>
    
    <form style="padding-right: 45rem;">
        <div class="form-group">
            <label style="padding-top: 1rem; padding-bottom: 1rem; font-weight: 600; font-size: 20px;" for="exampleFormControlInput1">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Username">
        </div>
        <div class="form-group">
            <label style="padding-top: 1rem; padding-bottom: 1rem; font-weight: 600; font-size: 20px;" for="exampleFormControlInput1">Password</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
        </div>
        <div style="padding-top: 1rem; padding-bottom: 1rem;">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>

    <h1>Sign Up Here</h1>
    <div style="padding-top: 1rem;">
        <a href="/sign_up" class="btn btn-primary" role="button" aria-disabled="true">Sign Up</a>
    </div>

{% endblock %}