{% extends '_layout.html' %}

{% block title %}
    My Listings page
{% endblock %}

{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">My Listings</h1> 
{% endblock %}

{% block body %}
    


    
            {% for item in item %}
            {% if username == item.username %}
            <div class="item-info rounded">

                <div class="grid-container">
                    <div><strong>Item:</strong></div>
                    <div>{{ item.item_name }}</div>
                    <div><strong>Description:</strong></div>
                    <div>{{ item.description }}</div>
                    <div><strong>Condition:</strong></div>
                    <div>{{ item.condition }}</div>
                    <div><strong>Price:</strong></div>
                    <div><span class="price">${{ item.price }}</span></div>
                </div>
                <div class="buttons">
                    <a href='/items/update/{{item.item_id}}' class="like-btn" role="button">Update</a>
                    <a href='/items/delete/{{item.item_id}}' class="report-btn" role="button">Delete</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
{% endblock %}


