{% extends '_layout.html' %}

{% block title %}
    Search page
{% endblock %}

{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">Search for Items</h1> 
{% endblock %}

{% block body %}
<div id="search-container" class="rounded">
    <h3 id="search-title">Search by Name:</h3>
    <form action="/items/search" method="get" id="search-form"> 
        <div class="input-group" id="input-group">
            <input type="text" name="name" id="name" class="form-control" required=True>
            <div id="input_me">
                <button type="submit" id="search-button">Search</button>
            </div>
        </div>
    </form>
</div>

    {% if search_query != '' %}
    {% if item|length != 0 %}
        {% for item in item %}
        <div class="my-item-container" id="searchcenter">
            <div class="my-item">
                <div class="my-item-info">
                    <h2>{{ item.item_name }}</h2>
                    <p>Price: ${{ item.price }}</p>
                    <p>Condition: {{ item.condition }}</p>
                </div>
                <button><a id="itemlink"href="/items/{{ item.item_id }}">More Info</a></button>
            </div>
        </div>

        {% endfor %}
    </tbody>
    </table>
    </div>
    {% else %}
    <div class="bg-light w-150 mx-auto p-3 mt-3 mb-5">
        <p class="fw-bold fs-3">No items found with that name. Try another name or visit the listings page to browse.</p>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}