{% extends '_layout.html' %}

{% block title %}
    Single item result page
{% endblock %}

{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">{{ item.item_name }}</h1> 
{% endblock %}

{% block body %}
    <div class="bg-light w-50 mx-auto p-3 mt-3 mb-5">
        <h1 class="mt-5 fs-3 fw-bold">Seller's Username:</h1>
        <h3 class="fw-bold">{{ item.username }}</h3>

        <h1 class="mt-5 fs-3 fw-bold">Item Name:</h1>
        <h3 class="fw-bold">{{ item.item_name }}</h3>
    
        <h1 class="mt-5 fs-3 fw-bold"">Price:</h1>
        <h3 class="fw-bold">${{ item.price }}</h3>
    
        <h1 class="mt-5 fs-3 fw-bold">Description:</h1>
        <h3 class="fw-bold">{{ item.description }}</h3>
    
        <h1 class="mt-5 fs-3 fw-bold">Condition:</h1>
        <h3 class="fw-bold">{{ item.condition }}</h3>
        
        <br>
        <a href="/report_post" class="btn btn-danger mb-3" role="button">Report Post</a>
        
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary mt-3 mb-3" id="button">
                <a href="/items/search" class="btn btn-primary" role="button">Back to Item Search</a>
            </button>
        </div>
    </div>
{% endblock %}