{% extends '_layout.html' %}

{% block title %}
Single item result page
{% endblock %}

{% block content %}
<h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">{{ item.item_name }}</h1>
{% endblock %}

{% block body %}

<div class="item-info">
    <h2>Seller: {{ item.username }}</h2>
    <!-- <h2>Seller: {{ item.username }}</h2> -->
    <div class="grid-container">
        <div><strong>Item:</strong></div>
        <div>{{ item.item_name }}</div>
        <div><strong>Description:</strong></div>
        <div>{{ item.description }}</div>
        <div><strong>Condition:</strong></div>
        <div>{{ item.condition }}</div>
        <div><strong>Price:</strong></div>
        <div><span class="price">${{ item.price }}</span></div>
    </div>
    <div class="buttons">
        <button href="/report_post/{{item.item_id}}" class="report-btn" role="button">Report</button>
        <button class="interested-btn">Interested</button>
        <form action="{{ url_for('fav_list_add_fav', item_id=item.item_id) }}" method="POST">
            <button type="submit" class="like-btn">Like</button>
        </form>
    </div>
</div>


<!-- <div class="bg-light w-50 mx-auto p-3 mt-3 mb-5">
    <h1 class="mt-5 fs-3 fw-bold">Seller's Username:</h1>
    <h3 class="fw-bold">{{ item.username }}</h3>

    <h1 class="mt-5 fs-3 fw-bold">Item Name:</h1>
    <h3 class="fw-bold">{{ item.item_name }}</h3>

    <h1 class="mt-5 fs-3 fw-bold">Price:</h1>
    <h3 class="fw-bold">${{ item.price }}</h3>

    <h1 class="mt-5 fs-3 fw-bold">Description:</h1>
    <h3 class="fw-bold">{{ item.description }}</h3>

    <h1 class="mt-5 fs-3 fw-bold">Condition:</h1>
    <h3 class="fw-bold">{{ item.condition }}</h3>

    <br>
    <a href="/report_post/{{item.item_id}}" class="btn btn-danger mb-3" role="button">Report Post</a>

    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary mt-3 mb-3" id="button">
            <a href="/items/search" class="btn btn-primary" role="button">Back to Item Search</a>
        </button>
    </div>

    <div class="text-center">
        <form action="{{ url_for('fav_list_add_fav', item_id=item.item_id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Like</button>
        </form>
    </div>



    
</div> -->

<div class="rounded bg-secondary mx-auto w-75">
    <div class="form-group p-3 row">
        <div class="col">
            <div class="position-relative justify-content-center">
                <form action="{{ url_for('add_comment', item_id=item.item_id) }}" method="POST">
                    <div class="m-0 col-8">
                        <label class="pb-2 fs-4" for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>

{% if comments %}
{% for comment in comments %}

<div class="rounded bg-light mx-auto w-75">
    <div class="form-group p-3 row">
        <div class="col">
            <div class="position-relative justify-content-center">
                <form action="{{ url_for('get_all_comments', item_id=item.item_id) }}" method="GET">
                    <div class="m-0 col-8">
                        <p class="pb-2 fs-4">{{ comment.username }} said:</p>
                        <p>{{ comment.comment }}</p>
                    </div>
                </form>
                <form action="{{ url_for('remove_comment', comment_id=comment.comment_id) }}" method="POST">
                    <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                    <input type="hidden" name="item_id" value="{{ item.item_id }}">
                    <input type="hidden" name="comment" value="{{ comment.comment }}">
                    <button type="submit" class="btn btn-primary btn-lg">Delete</button>
                </form>
                <br>
                <button class="update-button btn btn-primary btn-lg">Update</button>
                <div class="hidden-element" style="display: none;">
                    <form action="{{ url_for('update_comment', comment_id=comment.comment_id) }}" method="POST">
                        <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                        <input type="hidden" name="item_id" value="{{ item.item_id }}">
                        <input type="hidden" name="comment" value="{{ comment.comment }}">
                        <div class="form-group">
                            <label class="pb-2 fs-4" for="new_comment">Updated Comment:</label>
                            <textarea class="form-control" rows="5" id="new_comment" name="new_comment"></textarea>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{% endfor %}
{% endif %}

<script>
    const updateButtons = document.querySelectorAll('.update-button');

        updateButtons.forEach(function(updateButton) {
        const hiddenElement = updateButton.nextElementSibling;

        updateButton.addEventListener('click', function() {
            hiddenElement.style.display = 'block';
        });
    });
</script>

{% endblock %}