{% extends '_layout.html' %}

{% block title %}
Update Account
{% endblock %}
{% block content %}
    <h1 style="padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem; font-size: 60px;">Update Account</h1> 
{% endblock %}

{% block body %}

<h1 style="padding-top: 1rem; padding-bottom: 2rem;"class="text-center text-light fs-1">Please enter your current account credentials</h1>
<div class="bg-light w-50 mx-auto p-3 mt-3 mb-5">
    <form method="post" action="/update">
        <div class="px-4">
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-5 fs-3 fw-bold">First Name:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter first name:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Last Name:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter last name:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Email:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter email:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Username:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter username:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Password:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter password:">
            </div>
        </div>
        <div class="text-center"><button type="submit" class="btn btn-lg btn-primary mt-5 mb-4" id="button">Validate account</button></div> 
    </form>
</div>

<h1 style="padding-bottom: 2rem;" class="text-center text-light fs-1">Please enter your new account credentials</h1>
<div class="bg-light w-50 mx-auto p-3 mt-3 mb-5">
    <form method="post" action="/update">
        <div class="px-4">
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-5 fs-3 fw-bold">First Name:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter first name:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Last Name:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter last name:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Email:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter email:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Username:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter username:">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="mt-3 fs-3 fw-bold">Password:</label>
                <input type="text" class="form-control mt-1" id="formGroupExampleInput" placeholder="Enter password:">
            </div>
        </div>
        <div class="text-center"><button type="submit" class="btn btn-lg btn-primary mt-5 mb-4" id="button">Update account</button></div> 
    </form>
</div>
{% endblock %}